<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User's Favorite Cat</title>
</head>
<body>
    <h1>Here's this guys favorite cat!</h1>
    <p>User: <%= email %></p>
    <img src="<%= catUrl %>" alt="Favorite Cat" width="200px">
</body>
</html>
